<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12 text-center">
            <label class="fs-20">{{"areYouSure"|translate}}</label>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 d-flex justify-content-center">
            <button  class="mx-1 btn btn-warning orange-bg">
                {{"confirm"|translate}}
            </button>
            <button (click)="close()" class="mx-1 btn  btn-orange-outline">
                {{"cancel"|translate}}
            </button>
        </div>
    </div>
</div>